body {
    font-family: 'Europa';
    color: gainsboro;
    background-color: rgb(39, 39, 39);
}
.bg-dark {
    background-color: rgb(26, 26, 26) !important;
}
.card {
	width: 30rem !important;
    border-top: #e18508 3px solid;
}
.card-header {
    color: black !important;
}
.card-text {
	color: black !important;
}
.form-control:focus {
    border-bottom: #e18508 solid 1px !important;
}
.btn-primary {
    background-color: #e18508 !important;
}
a {
    text-decoration: none;
    color: #e18508;
}
a:hover {
    color: black;
}
.small {
    color: darkgray !important;
}

nav a {
    color: gainsboro !important;
    font-size: 1.2rem;
    font-weight: 600;
}

nav a:hover {
    color: #e18508 !important;
    text-decoration: none;
}

.btnLink {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: 'Europa' !important;
    font-size: 1.2rem !important;
    color: gainsboro;
    text-decoration: none;
    cursor: pointer;
}
.btnLink2 {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: 'Europa' !important;
    font-size: 1.2rem !important;
    color: #e18508;
    text-decoration: none;
    cursor: pointer;
}
.btnLink2:hover {
    color: black !important;
}
.btnLink:hover {
    color: #e18508 !important;
}
.text-title {
    color: #e18508;
}
