<!DOCTYPE html>
<html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"
	href="../static/css/bootstrap.css">
<link
	href="//db.onlinewebfonts.com/c/23c0fcab84d99da0de762de7e220a6e1?family=Europa"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"
	href="../static/css/index.css" />

<title>Añadir Festival | Festivars</title>
</head>
<body class="text-uppercase">
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarTogglerDemo03"
				aria-controls="navbarTogglerDemo03" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" th:href=@{/catalog} href=""> <img
				th:src="@{/img/Logo.PNG}" src="../static/img/Logo.PNG" alt="Logo"
				style="width: 40px;">
			</a>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item"><a class="ml-3" th:href="@{/catalog}"
						href="">FESTIVARS</a> <a class="ml-3"
						th:href="@{/catalog/artists}" href="">ARTISTAS</a></li>
				</ul>
			</div>
		</nav>
		<!-- FORMULARIO -->
		<section id="form">
			<div class="card mx-auto my-5" style="width: 50rem">
				<div class="card-header">
					<h5>Añadir Festival</h5>
				</div>
				<div class="card-body mt-3">
					<form method="POST" action="">
						<div class="form-group">
							<label for="name">Nombre</label> <input id="name" type="text"
								class="form-control" name="name" required autofocus>
						</div>
						<div class="form-group">
							<label for="description">Descripción</label>
							<textarea id="description" type="text" class="form-control"
								name="description" required></textarea>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="allowed_age">Edad Mínima Permitida</label> <input
										id="allowed_age" type="number"
										class="form-control"
										name="allowed_age" required>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="capacity">Capacidad</label> <input id="capacity"
										type="number" class="form-control" name="capacity" required>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="date">Fecha</label> <input id="date" type="date"
								class="form-control" name="date" required>
						</div>
						<div class="form-group">
							<label for="photo">Foto</label> <input id="photo" name="photo" type="text"
								class="form-control" required>
						</div>
						<div class="form-group">
							<label for="artists">Artistas</label><br>
							<select id="artists" name="artists[]" multiple>
								<option th:each="artist : ${artists}" th:value="${artist.id}" th:text="${artist.alias}"></option>
							</select> 
						</div>
						<div class="form-group text-center mt-5 mb-3">
							<button type="submit" class="btn btn-primary mb-2">Añadir</button>
							<br>
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
	<script th:script="@{js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
</body>
</html>